{% extends 'base.html.twig' %}

 {% block body %}
  

 <div class="row" style="display: flex;align-items: center;justify-content: center;margin-top :100px">
 <div class="col-lg-7">
 <div class="card">
 <div class="card-body">
 
                        <li class="nav-item w-100">
                            <form name="Search-method" id="Search-method"method="post" class="forms-sample" style="display: flex">
                                <div class="form-group col-md-5">
                                    <label style="margin-top: 9px;margin-left: 10px;margin-right: 14px;padding-bottom: 7px;;">Option Recherche</label>
                                    <select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: black; background-color:#c5e1ed; border-radius: 4px;text-align: center;border: 2px solid #c5e1ed;margin-right: 15px;">
                                        <option value="">Choisi un Critére</option>
                                        <option value="emailReclamation">Email</option>
                                        <option value="type">Type</option>
                                       
                                    </select>
                                </div>
                                <div class="form-group col-md-7">
                                    <div class="input-group">
                                        <input name="Search" type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="Submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                   
 <h5 class="card-title"> Liste des Reclamations </h5>
  <div class="card">
            <div class="card-body">
 <table class="table table-bubble">
 <thead>
 <th>ID</th>
 <th>type</th>
 <th>email</th>
 <th>objetR </th>
 <th>contenue </th>
 
 <th>supprimer</th>
 <th>Modifier</th>

 </tr>
 </thead>
 {% for c in reclamation %}
 <tr>
 <td> {{c.id}}  </td>
 <td> {{c.type.libelle}}  </td>
 <td> {{c.emailReclamation}}  </td>
 <td> {{c.ObjetReclamation}} </td>
 <td> {{c.ContenueReclamation}} </td>
 

<div class="col-sm-5">
<td><a href="{{path('s',{'id':c.id} )}}">
 <button  type="button" class="btn btn-outline-info" onclick="return confirm('Vous êtes sûr de supprimer cette Reclamation?');">Supprimer</button></a></td> 
  
  <td><a href="{{path('up',{'id':c.id} )}}">
  <button type="button" class="btn btn-outline-info">Modifier</button></a></td> 
</div> 
 </tr>
 {% endfor %}
</tbody>
  </table>

   
   
   </div>
    </div>





 {% endblock %}